.todoList{
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-bottom: 20px;
    /* font-size: medium; */
}
.todoList>div{
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 150px;
    transition: 0.2s ease-in-out;
}
.todoList>div:hover{
    cursor: pointer;
    /* color: white; */
    /* border-radius: 10%; */
}
.todoList>div>h1{
    float:left;
    padding-top: 4px;
    padding-left: 10px;
    font-size: 1.2em;
}
.todoList>div>button{
    /* display: none; */
    float: right;
    margin-top: 3px;
    /* background-color: none; */
}